<footer class="page-footer font-small blue pt-4"  style="background-color:#2e79b6; color: aliceblue;">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Learningisfun.lb</h5>
        <p>This site will provide a career for young teachers so that they can practice their
          passion and ensure an adequate salary, as it will be a motivation and a path
          constructive for students.</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li class="nav-item">
            <a href="home">Home</a>
          </li>

          <li class="nav-item">
            <a href="findTeacher">Find A Teacher</a>
          </li>
          <li class="nav-item">
              <a href='findStudents'>Dedicated for Teachers</a>
          </li>
          <li class="nav-item">
            <a href="contact-us">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3" >
        <h5 class="text-uppercase">Useful Links</h5>
        <ul class="list-unstyled" >
          <li class="nav-item">
            <a  href="http://www.educationplanner.org/students/self-assessments/learning-styles-quiz.shtml">Education Planner</a>
          </li>
          <li class="nav-item">
            <a  href="https://www.coursera.org/">Coursera</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">©️ 2020 Copyright:
    <a href="https://mdbootstrap.com/" style="color: aliceblue">Learningisfun.lb</a>
  </div>
</footer>
