<app-navbar></app-navbar>
<div class="wrapping">
    <div></div>
    <div>
        <div class="title">We'd love to here from you</div>
        <div class="title2">Whether you have a question or need a demo, or need anything else, our team is ready to answer all your questions</div>
        <div class="two-fields-grid">
            <img src="../../assets/boy.jpg" class="image">
            <img src="../../assets/girl.jpg" class="image">
        </div>
        <div class="two-fields-grid">
            <div class="email">fayez.kassar@net.usj.edu.lb</div>
            <div class="email">serena.dahdah@net.usj.edu.lb</div>
        </div>
    </div>
</div>