.title{
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
    line-height: 1;
    font-family: cursive;
}

.title2{
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 1;
    font-family: cursive;
}

.card-text {
    font-family: cursive;
}

.alignc {
    margin-top: 25px;
}

.card {
    border: 0ch;
}