.title {
    text-align: center;
    line-height: normal;
    font-family: Snell Roundhand, cursive;
    margin: 40px;
    font-size: 40px;
}

.question{
    text-align: left;
    font-size: 30px;
    font-family: Snell Roundhand, cursive;
    line-height: 1;
}

.loginr {
    text-align: center;
    font-size: 30px;
    margin: 80px 30px;
    font-family: Snell Roundhand, cursive;
    line-height: 1;
}

.login_button {
    margin: 40px 0px 20px 0px;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    background-color: #2e79b6;
    font-family: Snell Roundhand, cursive;
    color: rgb(250, 250, 250);
    font-weight: bold;
}
